@import '~bootstrap/scss/bootstrap';

// font style for game board
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background: #EDEBED;
}

// dynamic background colour formatting
.gradDynamic {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.gradDynamic:after, .gradDynamic:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 400%;
  content: "";
  z-index: -1;
}

.gradDynamic:after {
  background: radial-gradient(circle, red, transparent);
  animation: colorSpin 30s linear infinite;
}

.gradDynamic:before {
  background-color: yellow;
}

@keyframes colorSpin {
  25% {
    transform: translateY(-75%);
  }
  50% {
    transform: translate(-75%, -75%);
  }
  75% {
    transform: translate(-75%, 0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
  /*75 is obtained as 100[1- (100/(height or width written in .gradDynamic:after)). i.e. 75 = 100[1-100/400] */
}

img {
  max-height: 60vh;
}

#welcome-section nav {
  margin-top: 50px;
  button {
    flex: 1 30px;
    padding: 5px;
    margin: 0 10px;
  }
}

#sign-in-section,
#sign-up-section {
  form {
    margin-top: 50px;
    button {
      margin: 0 15px;
    }
  }
  > div:last-of-type {
    position: fixed;
    bottom: 0
  }
}

#nav-section {
  padding: 0;
  margin: 10px 0;
  display: flex;
  gap: 5px;
  button {
    padding: 6px 4px;
    flex: auto;
  }
  > div {
    flex: auto
  }
}

#accordion {
  background-color: rgba(255, 255, 255, 0.5);
  > div {
    background-color: transparent;
  }
  .card-body {
    text-align: justify;
  }
}

#new-game-setup-section > div > div {
  margin: 20px 0
}

#game-section {
  > nav {
    margin: 10px 0
  }
}

#new-game-setup-section,
#game-section,
#old-game-section,
#open-games-section,
#account-section {
  > div {
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 10px;
  }
}

// todo: how can the 9 squares be squares that fill out the largest containing square subject to screen width / height
#game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 100%;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 201, 201, 0.6);
    min-width: 100px;
    height: 20vh;
    font-size: 0;
    font-family: 'Permanent Marker', cursive;
  }
}

// styling for the carousel of old unfinished games
.old-game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 100%;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 201, 201, 0.6);
    min-width: 100px;
    height: 20vh;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
  }
}

.table .center-align {
  text-align: center;
}
