@import '~bootstrap/scss/bootstrap';

// dynamic background colour formatting
.gradDynamic {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.gradDynamic:after, .gradDynamic:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 400%;
  content: "";
  z-index: -1;
}

.gradDynamic:after {
  background: radial-gradient(circle, red, transparent);
  animation: colorSpin 30s linear infinite;
}

.gradDynamic:before {
  background-color: yellow;
}

@keyframes colorSpin {
  25% {
    transform: translateY(-75%);
  }
  50% {
    transform: translate(-75%, -75%);
  }
  75% {
    transform: translate(-75%, 0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
  /*75 is obtained as 100[1- (100/(height or width written in .gradDynamic:after)). i.e. 75 = 100[1-100/400] */
}

img {
  max-height: 60vh;
}

#welcome-section nav {
  margin-top: 50px;
  button {
    flex: 1 30px;
    padding: 5px;
    margin: 0 10px;
  }
}

#sign-in-section,
#sign-up-section {
  form {
    margin-top: 50px;
    button {
      margin: 0 15px;
    }
  }
  > div:last-of-type {
    position: fixed;
    bottom: 0
  }
}

// todo: remove this once fully replaced by Bootstrap alerts
.failure {
  color: red
}

// todo: remove this once fully replaced by Bootstrap alerts
.success {
  color: green;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  > div {
    display: flex;
    background-color: lightgrey;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
}

.table .center-align {
  text-align: center;
}
